html,body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto ;
    padding: 0px;
    font-size: 62.5%;
    line-height: 1.15;
    font-family: 'Poppins', sans-serif;
    background-color: #00013A;
    height: 100vh;
    
}

.logo {
    float: left;
    padding: 5rem;
    display: inline-block;
}

.leftSideText h1{
    margin: 0;
    float: left;
    font-size: 10rem;
    line-height: 0.9;
    color: white;
    display: inline-block;
    position: absolute;
    top:24rem;
    left: 12rem;
}
.lightText {
    font-weight: 300;
}

.leftSideText p{
    width:35rem;
    margin: 0;
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    display: inline-block;
    position: absolute;
    top: 42rem;
    left: 14rem;
    line-height: 1.6;
}
.textYellow {
    color: #fbcb21;
}

.rightSide {
    float: right;
    border: 1px solid #fbcb21;
    position: absolute;
    right: 10rem;
    top: 15rem;
    width: 40rem;
    height: 60rem;
}
.form-input {
    padding: 1.5rem;
    margin-top: 6rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.5rem;
    color: white;
    width: 30rem;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fbcb21;
    
}

 ::placeholder {
    font-weight: 300; 
    color:rgba(255, 255, 255, 0.425);
}
 .formInputs {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.btn {
    width: 35rem;
    height: 5rem;
    background-color: #fbcb21;
    margin-top: 5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #00013A;
    transition: all .3s;
}
.btn:hover {
    cursor: pointer;
    background-color: #fff;
}
#answerResult {
    color: #fbcb21;
    font-size: 2rem;
}