html,body{
    font-family: 'Poppins', sans-serif;
    background-color: #00013A;
    line-height: 1.15;
    height: 100vh;
    margin: 0;

}
.content{
    margin: 0;
    width: 100rem;
}
.logo {
    float: left;
    padding: 5rem;
    display: inline;
}

.leftSideText h1{
    margin: 0;
    font-weight: 700;
    font-size: 10rem;
    line-height: 0.9;
    color: white;

}
.lightText {
    font-weight: 300;
}

.leftSideText p{
    width:35rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    line-height: 1.6;
}
.textYellow {
    color: #fbcb21;
}

.rightSide {
    border: 1px solid #fbcb21;
    margin: 0 8rem;
}

.form-control {
    font-size: 1.5rem; 
    color: white; 
    background: transparent;
    width: 30rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #fbcb21;
    margin-top: 6rem;
    border-radius: 0;
    padding: 2rem;
}
.form-control:focus {
   background-color: #fbcb21; 
   color: #00013A;
}

 ::placeholder {
    font-weight: 300; 
    color:rgba(255, 255, 255, 0.425);
}
 .formInputs {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.formInputs p {
    text-align: center;
    padding: 5rem;
}

.btn {
    width: 35rem;
    height: 5rem;
    background-color: #fbcb21;
    margin-top: 5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #00013A;
    transition: all .3s;
}
.btn:hover {
    cursor: pointer;
    background-color: #fff;
}
#answerResult {
    color: #fbcb21;
    font-size: 2rem;
}