html,body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto ;
    padding: 0px;
    font-size: 62.5%;
    line-height: 1.15;
    font-family: 'Poppins', sans-serif;
    background-color: #00013A;
    
}

.logo {
    float: left;
    padding: 5rem;
    display: inline-block;
}

.leftSideText h1{
    margin: 0;
    float: left;
    font-size: 6rem;
    color: white;
    display: inline-block;
    position: absolute;
    top:20rem;
    left: 20rem;
}
.lightText {
    font-weight: 300;
}

.leftSideText p{
    width:30rem;
    margin: 0;
    float: left;
    font-size: 1.2rem;
    color: white;
    display: inline-block;
    position: absolute;
    top:35rem;
    left: 20rem;
    line-height: 1.7;
}